
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poppins:wght@100&family=Shrikhand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-size: 40px;
    font-weight: 400;
    background-color:#643843;
    font-family: 'Shrikhand', serif;
    color:#451952;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
input{
    width: 300px;   
}


.home{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0px 20px;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    /* For mobile phones: */
       .home{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
    width: 100%;
  }
  .container{
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 1024px) {
    /* For Teplet: */
       .home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    width: 100%;
  }
  .container{
    display: flex;
    flex-wrap: wrap;

  }
}

.navbar{
    display:flex;
    background-color:#99627A;
    font-family: 'Shrikhand', serif;
    font-size: larger;
    font-weight: 600;
    

}

li{
    list-style: none;

}

.filter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color:#99627A;
    color:#3c367d;
}
.bearpic{
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 40px;
    background-color: #E7CBCB;
    flex-wrap: wrap;
    gap: 10px;
}
.bearpic-container{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color:#655DBB;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 80px whitesmoke;

}
img {
    width: 200px;
    height: 200px;
}

.bearpic-container:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
    box-shadow: 7px 7px 100px rgb(20, 20, 20);
}